In [10]:
# cities = ["Bristol", "London", "Manchester", "Edinburgh", "Belfast", "York"]
# list=cities
# print("The position of Manchester in the list is: " + str(list.index("Manchester")))
# print(cities[2 + 2])
# print(cities[-2])

The position of Manchester in the list is: 2
Belfast
Belfast

In [13]:
cities = ["Bristol", "London", "Manchester", "Edinburgh", "Belfast", "York"]
print(cities[2 + 2])

Belfast

In [14]:
cities = ["Bristol", "London", "Manchester", "Edinburgh", "Belfast", "York"]
print("The position of Manchester in the list is: " + str(list.index("Manchester")))

The position of Manchester in the list is: 2

In [81]:
cities = ["Bristol", "London", "Manchester", "Edinburgh", "Belfast", "York"]
temperatures = [15.6, 16.5, 13.4, 14.0, 15.2, 14.8]
city="Manchester" # Use this to get the solution...
print("The average temperature in " + city + " is " + str(temperatures[cities.index(city)]))

The average temperature in Manchester is 13.4

In [62]:
city="Belfast"
print("The average temperature in " + city + " is " + str(temperatures[cities.index(city)]))

The average temperature in Belfast is 15.2

In [84]:
def avg_tmp(city, temp):
    print(f"The average temperature in {city} is {temperatures[cities.index(city)]}")
city="Edinburgh"
avg_tmp(city, temperatures[cities.index(city)])

The average temperature in Edinburgh is 14.0

In [64]:
def avg_tmp(city,temp):
    print("The average temperature in " + city + " is " + str(temperatures[cities.index(city)]))
city="Edinburgh"
avg_tmp(city, temperatures[cities.index(city)])

The average temperature in Edinburgh is 14.0

In [86]:
def avg_tmp(city):
    print("The average temperature in " + city + " is " + str(temperatures[cities.index(city)]))
city="Edinburgh"
avg_tmp(city)

The average temperature in Edinburgh is 14.0

In [87]:
temperatures = [15.6, 16.5, 13.4, 14.0, 15.2, 14.8]
cities = ["Bristol", "London", "Manchester", "Edinburgh", "Belfast", "York"]
for city in cities:
        avg_tmp(city)

The average temperature in Bristol is 15.6
The average temperature in London is 16.5
The average temperature in Manchester is 13.4
The average temperature in Edinburgh is 14.0
The average temperature in Belfast is 15.2
The average temperature in York is 14.8

In [76]:
cities = {
    'San Francisco': [37.77, -122.43, 'SFO'],
    'London': [51.51, -0.08, 'LDN'],
    'Paris': [48.86,2.29, 'PAR'],
    'Beijing': [39.92,116.40 ,'BEI'],
    'Chennai':[13.08, 80.28, 'MAA'],
}

In [77]:
print( cities['Chennai'][2] )

MAA

In [49]:
for k, v in cities.items():
     print(k + " -> " + v[2])

San Francisco -> SFO
London -> LDN
Paris -> PAR
Beijing -> BEI
Chennai -> MAA

In [52]:
cities = {
    'San Francisco': [37.77, -122.43, 'SFO'],
    'London': [51.51, -0.08, 'LDN'],
    'Paris': [48.86,2.29, 'PAR'],
    'Beijing': [39.92,116.40 ,'BEI'],
    'Chennai':[13.08, 80.28, 'MAA'],
}
for k, v in cities.items():
     print(k + " -> " + v[2])

San Francisco -> SFO
London -> LDN
Paris -> PAR
Beijing -> BEI
Chennai -> MAA

In [72]:
cities = {
    'San Francisco': {
        'lat': 37.77, 
        'lon': -122.43,
        'airport': 'SFO'},
    'London': {
        'lat': 51.51, 
        'lon': -0.08, 
        'airport': 'LDN'},
    'Paris': {
        'lat': 48.86,
        'lon': 2.29, 
        'airport': 'PAR'},
    'Beijing': {
        'lat': 39.92,
        'lon': 116.40,
        'airport': 'BEI'},
    'Chennai': { 
        'lat': 13.08, 
        'lon': 80.28, 
        'airport': 'MAA'}
}
for k, v in cities.items():
     print(k + " -> " + v['airport'])

San Francisco -> SFO
London -> LDN
Paris -> PAR
Beijing -> BEI
Chennai -> MAA

In [89]:
cities = {
    'San Francisco': {
        'lat': 37.77, 
        'lon': -122.43,
        'airport': 'SFO'},
    'London': {
        'lat': 51.51, 
        'lon': -0.08, 
        'airport': 'LDN'},
    'Paris': {
        'lat': 48.86,
        'lon': 2.29, 
        'airport': 'PAR'},
    'Beijing': {
        'lat': 39.92,
        'lon': 116.40,
        'airport': 'BEI'},
    'Chennai': { 
        'lat': 13.08, 
        'lon': 80.28, 
        'airport': 'MAA'}
}
for k, v in cities.items():
     print(k + " -> " + v['airport'])

San Francisco -> SFO
London -> LDN
Paris -> PAR
Beijing -> BEI
Chennai -> MAA

In [4]:
from urllib.request import urlopen
url = 'https://github.com/jreades/i2p/raw/master/data/2020-08-24-sample-listings-simple.csv'
response = urlopen(url)
datafile = response.read().decode('utf-8')
print("datafile variable is of type: '" + datafile.__class__.__name__ + "'.\n")

datafile variable is of type: 'str'.

In [5]:
print(len(datafile))
print(datafile[:600])

16480
id,name,host_id,host_name,host_since,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,maximum_nights,availability_365,number_of_reviews,calculated_host_listings_count
25339003,"An Amazing 4Bedroom Home, Central London, Sleeps12",191329110,Emily,2018-05-24,51.52865,-0.19998,Entire house,Entire home/apt,12,,4.0,9.0,$226.00,2,1125,23,64,1
40259218,Large Double Room - Maida Vale,302720259,Mantas,2019-10-16,51.52594000000001,-0.18909,Private room in apartment,Private room,2,,1.0,1.0,$41.00,1,24,365,4,5
20097666,Zone 1 : Spacious single bedroom in

In [6]:
url = "https://github.com/jreades/i2p/raw/master/data/2020-08-24-sample-listings-simple.csv"

response = urlopen(url)
datafile = response.read().decode('utf-8').splitlines()

print("datafile variable is of type: '" + datafile.__class__.__name__ + "'.\n")

datafile variable is of type: 'list'.

In [7]:
print(len(datafile))
print(datafile[0:2])

101
['id,name,host_id,host_name,host_since,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,maximum_nights,availability_365,number_of_reviews,calculated_host_listings_count', '25339003,"An Amazing 4Bedroom Home, Central London, Sleeps12",191329110,Emily,2018-05-24,51.52865,-0.19998,Entire house,Entire home/apt,12,,4.0,9.0,$226.00,2,1125,23,64,1']

In [8]:
print(datafile[-1])

40373464,"Modern, Small Double Private Room",139052118,Leon,2017-07-07,51.46497,-0.17807,Private room in apartment,Private room,1,,1.0,1.0,$38.00,1,1125,0,4,6

In [9]:
print('abcdefgh'.split('d'))

['abc', 'efgh']

In [10]:
test = datafile[-1].split(',')
print(test)

['40373464', '"Modern', ' Small Double Private Room"', '139052118', 'Leon', '2017-07-07', '51.46497', '-0.17807', 'Private room in apartment', 'Private room', '1', '', '1.0', '1.0', '$38.00', '1', '1125', '0', '4', '6']

In [11]:

from urllib.request import urlopen
import csv

url = "https://github.com/jreades/i2p/raw/master/data/2020-08-24-sample-listings-simple.csv"

urlData = [] # Somewhere to store the data

response = urlopen(url) # Get the data using the urlopen function
csvfile  = csv.reader(response.read().decode('utf-8').splitlines()) # Pass it over to the reader function

for row in csvfile:              
    urlData.append( row )

print("urlData has " + str(len(urlData)) + " rows and " + str(len(urlData[0])) + " columns.")
print(urlData[-1]) # Check it worked!

urlData has 101 rows and 19 columns.
['40373464', 'Modern, Small Double Private Room', '139052118', 'Leon', '2017-07-07', '51.46497', '-0.17807', 'Private room in apartment', 'Private room', '1', '', '1.0', '1.0', '$38.00', '1', '1125', '0', '4', '6']

In [12]:
for u in urlData[:15]:                             # For each row in the first 15 items in list
    print("The host of '" + u[1] + "' is " + u[3]) # Print out the name and host

The host of 'name' is host_name
The host of 'An Amazing 4Bedroom Home, Central London, Sleeps12' is Emily
The host of 'Large Double Room - Maida Vale' is Mantas
The host of 'Zone 1 : Spacious single bedroom in Bayswater' is Thanyawan
The host of 'Large Smart Room 20 minutes walk to Big Ben' is Nadia
The host of 'Large Notting Hill 2BR near Portobello Rd' is Emily & Kirsty
The host of 'Quiet flat with private garden in Barons Court' is Emily
The host of 'Superhost's Lux 3B Luxury Flat- 397 5-Star Reviews' is Emrah
The host of 'Lovely and bright garden flat' is Tommaso
The host of 'Covent Garden Private Room with Shared Living Room' is Che
The host of 'Double Room with private bathroom' is Pascale
The host of 'Warm 1BR garden flat in leafy Hampstead (Veeve)' is Veeve
The host of 'Single  in NW2' is Nilgun
The host of 'single bedroom near heathrow london free parking' is Mark
The host of 'Luxury New Apartment with Spa and Pool' is Emile

In [13]:
from urllib.request import urlopen
import csv

url = "https://github.com/jreades/i2p/raw/master/data/2020-08-24-sample-listings.csv"

urlData = [] # Somewhere to store the data

response = urlopen(url)
csvfile = csv.reader(response.read().decode('utf-8').splitlines())

for row in csvfile:              
    urlData.append( row )

print("urlData has " + str(len(urlData)) + " rows and " + str(len(urlData[0])) + " columns.")

for u in urlData[:15]:                               # For each row in the list
    print("The host of '" + u[1] + "' is " + u[4]) # Print out the name and host

urlData has 101 rows and 26 columns.
The host of 'name' is host_name
The host of 'An Amazing 4Bedroom Home, Central London, Sleeps12' is Emily
The host of 'Large Double Room - Maida Vale' is Mantas
The host of 'Zone 1 : Spacious single bedroom in Bayswater' is Thanyawan
The host of 'Large Smart Room 20 minutes walk to Big Ben' is Nadia
The host of 'Large Notting Hill 2BR near Portobello Rd' is Emily & Kirsty
The host of 'Quiet flat with private garden in Barons Court' is Emily
The host of 'Superhost's Lux 3B Luxury Flat- 397 5-Star Reviews' is Emrah
The host of 'Lovely and bright garden flat' is Tommaso
The host of 'Covent Garden Private Room with Shared Living Room' is Che
The host of 'Double Room with private bathroom' is Pascale
The host of 'Warm 1BR garden flat in leafy Hampstead (Veeve)' is Veeve
The host of 'Single  in NW2' is Nilgun
The host of 'single bedroom near heathrow london free parking' is Mark
The host of 'Luxury New Apartment with Spa and Pool' is Emile

In [14]:
myData = {
    'id'         : [0, 1, 2, 3, 4, 5],
    'Name'       : ['London', 'Manchester', 'Birmingham','Edinburgh','Inverness','Lerwick'],
    'Rank'       : [1, 2, 3, 4, 5, 6],
    'Longitude'  : [-0.128, -2.245, -1.903, -3.189, -4.223, -1.145],
    'Latitude'   : [51.507, 53.479, 52.480, 55.953, 57.478, 60.155],
    'Population' : [9787426, 2705000, 1141816, 901455, 70000, 6958],
}

print(myData['Name'])

['London', 'Manchester', 'Birmingham', 'Edinburgh', 'Inverness', 'Lerwick']

In [15]:

# Find the latitude of Manchester.
lat = myData['Latitude'][ myData['Name'].index('Manchester') ]
print(f"Manchester's latitude is {lat}") # Notice how 'f-strings' work!

# Find the easternmost city
city = myData['Name'][ myData['Longitude'].index( max(myData['Longitude']) ) ]
print(f"The easternmost city is: {city}")

# Print the location of Lerwick
city = "Lerwick"
print(f"The town of {city} can be found at " + 
      f"{abs(myData['Longitude'][myData['Name'].index(city)])}ºW, {myData['Latitude'][myData['Name'].index(city)]}ºN")

# Find the mean population of the cities
# using a handy package called numpy
import numpy as np
mean = np.mean(myData['Population'])
print(f"The mean population is: {mean}")

Manchester's latitude is 53.479
The easternmost city is: London
The town of Lerwick can be found at 1.145ºW, 60.155ºN
The mean population is: 2435442.5